<?xml version="1.0"?>
<launch>

  <arg name="laser_enabled" default="false"/>
  <arg name="kinect_enabled" default="false"/>
  <arg name="urdf_extras" default="$(find challenge_husky)/urdf/attachments.urdf.xacro"/>


    <arg name="world_name" default="$(find sphere_follower)/worlds/cimatec_world.world"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find challenge_husky)/launch/custom_spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="urdf_extras" default="$(arg urdf_extras)"/>
    <arg name="x" default="45.0"/>
    <arg name="y" default="-2.0"/>
    <arg name="z" default="0.0"/>
    <arg name="yaw" default="3.1415"/>
  </include>

    <!-- - Run Move Base   -->
  <include file="$(find challenge_husky)/launch/custom_move_base.launch">
    <arg name="no_static_map" value="true"/>
  </include>

  </launch>